<% include ../partials/header %>

<h4 class="navigateBackToPreviousLevel"><a href="http://localhost:3000/disorders">Back to Main Musculoskeletal Disorders page</a></h4>
<h3 class="individualDisorderHeaderLinks"><span><a href="http://localhost:3000/disorders/<%= data._id %>">Description</a></span><span> | </span><span class="deadLink">Techniques</span></h3>

<div class="displayAllDisorderTechniques">
  <div class="individualDisorderTechniquesDisplay">
    <% if (data.techniques.length > 0) { %>
      <% for (let i = 0; i < data.techniques.length; i++) { %>
      <fieldset>
        <h3><a href="http://localhost:3000/disorders/<%= data._id %>/techniques/<%= data.techniques[i]._id %>"><%= data.techniques[i].shortDescription %></a></h3>
        <p><%= data.techniques[i].detailedDescription %></p>
        <button class="deleteTechniqueButton" data-disorderId="<%= data._id %>" data-techniqueId="<%= data.techniques[i]._id %>">Delete Technique</button>
      </fieldset>
      <% } %>
    <% } else { %>
       <h3>No techniques have been entered for this musculoskeletal disorder yet.</h3>
    <% } %>
  </div>
    <fieldset class="addNewTechniqueForm">
      <h3>Add New Technique</h3>
      <textarea name="shortDescription" rows="2" cols="40" placeholder="Technique name..."></textarea>
      <textarea name="detailedDescription" rows="12" cols="80" placeholder="Detailed description..."></textarea>
      <button class="submitNewTechniqueButton" data-disorder-id="<%= data._id %>">Submit New Technique</button>
   </fieldset>
</div>

<% include ../partials/footer %>
