<% include ../partials/header %>
<h4><a href="/disorders/<%= disorderId %>/techniques">Back to all techniques</a></h4>
<% if (data.author !== "db_owner") { %>
  <h3>Added By <%= data.authorUsername %></h3>
<% } %>
<h1><%= data.shortDescription %></h1><textarea class="hidden updateTechniqueShortDescription" cols="35" rows="2"></textarea>
<p><%= data.detailedDescription %></p><textarea class="hidden updateTechniqueDetailedDescription" cols="50" rows="8"></textarea>
<% if (user) { %>
  <% if (user._id === data.authorId) { %>
    <button class="updateTechniqueButton" data-disorderId="<%= disorderId %>" data-techniqueId="<%= data._id %>">Edit Technique</button>
    <button class="saveChangesToTechniqueButton hidden" data-disorderId="<%= disorderId %>" data-techniqueId="<%= data._id %>">Save Changes</button>
  <% } %>
<% } %>
<fieldset>
  <h4>Comments</h4>
  <% if (user) { %>
  <div>
    <fieldset class="addCommentForm">
      <textarea class="addCommentTextarea" rows="3" cols="40" placeholder="Enter coment here" name="commentInputField"></textarea>
      <input class="userObjectIdInput hidden" id="newComment-<%= user._id %>" type="text">
      <input class="userUsernameInput hidden" id="newComment-<%= user.username %>" type="text">
      <button class="postNewCommentButton" data-techniqueId="<%= data._id %>">Post Comment</button>
    </fieldset>
  </div>
  <% } else { %>
    <p>Login to add a comment</p>
  <% } %>
  <% if (data.comments.length > 0) { %>
  <%  for (let k = 0; k < data.comments.length; k++) { %>
      <div class="commentBox">
        <h5 class="commentHeader"><%= data.comments[k].userName %> - <%= data.comments[k].date %></h5>
        <p class="comment"><%= data.comments[k].comment %></p>
        <% if (user) { %>
          <% if (user._id === data.comments[k].userId) { %>
            <button data-commentid="<%= data.comments[k]._id %>" class="deleteCommentButton">Remove Comment</button>
          <% } %>
        <% } %>
      </div>
  <% } %>
<% } %>
</fieldset>

<% include ../partials/footer %>
